
h5 {
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}

body {
    background-color: #2B2D6E;
}

.containerfirst {
    width: 350px;
    height: 50px;
    margin: 100px auto;
    padding: 20px;
}
p {
    color: #FFFFFF;
    font-size: 10px;
}
#mainheader {
    font-size: 20px;
}
.card-title {
    color: #2B2D6E;
}
.fa-ul {
    font-size: 10px;
}
.card-price {
    font-size: 40px;
    font-weight: bold;
}
.btn {
  color: #EFF0F1;
}